<h1 class="titulo">Nuestros departamentos</h1>
<div id="image" data-text-color="red">
  <img
    id="image"
    src="{{ url_for('static', filename='imagenes/blue-sky.jpg') }}"
  />
</div>
<div class="containerdep">
  <div class="boxdep">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti rerum
      exercitationem ducimus doloremque, dolor unde dicta odio voluptate,
      tempora iste ipsam. Corporis recusandae cumque, harum reprehenderit ex
      natus ea laborum!
    </h1>
  </div>
  <div class="boxdep">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sit
      soluta atque voluptas itaque sequi aperiam nam nemo, dolores accusantium
      corporis hic doloremque ipsa tempore possimus vitae alias nisi sint.
    </h1>
  </div>
</div>
