<h1 class="titulo">Algunas imagenes</h1>
<div id="image" data-text-color="red">
  <img
    id="image"
    src="{{ url_for('static', filename='imagenes/blue-sky.jpg') }}"
  />
</div>
<div class="grid-container">
  <div class="grid">
    <img
      src="{{ url_for('static', filename='imagenes/1.jpg') }}"
      alt="imagen1"
      class="foto"
    />
    <img
      src="{{ url_for('static', filename='imagenes/3.jpg') }}"
      alt="imagen1"
      class="foto"
    />
    <img
      src="{{ url_for('static', filename='imagenes/4.jpg') }}"
      alt="imagen1"
      class="foto"
    />
    <img
      src="{{ url_for('static', filename='imagenes/6.jpg') }}"
      alt="imagen1"
      class="foto"
    />
    <img
      src="{{ url_for('static', filename='imagenes/8.jpg') }}"
      alt="imagen1"
      class="foto"
    />
    <img
      src="{{ url_for('static', filename='imagenes/9.jpg') }}"
      alt="imagen1"
      class="foto"
    />
    <!-- Agrega las otras imágenes aquí -->
  </div>
</div>
