<ul class="contact-list">
  <li>
    <img
      src="{{ url_for('static', filename='imagenes/cositas/whatsapp-w.svg') }}"
      alt="Logo WhatsApp"
    />
    <span>(+54) 9 260410-5231</span>
  </li>
  <li>
    <img
      src="{{ url_for('static', filename='imagenes/cositas/location-w.svg') }}"
      alt="Logo Maps"
    />
    <span>Alvarez Condarco 936, San Rafael</span>
  </li>
  <li>
    <img
      src="{{ url_for('static', filename='imagenes/cositas/mail-w.svg') }}"
      alt="Logo Correo"
    />
    <span>complejodelsolyvalle@gmail.com</span>
  </li>
</ul>
