<div id="image" data-text-color="red">
  <img
    id="image"
    src="{{ url_for('static', filename='imagenes/blue-sky.jpg') }}"
  />
</div>
<h1 class="titulo">Turismo</h1>
<div class="turismo-grid">
  <!-- Contenido de turismo se cargará aquí -->
  <div class="turismo-item">
    <img
      src="{{url_for('static', filename='imagenes/turismo1.jpg') }}"
      alt="Turismo 1"
    />
    <h2 class="turismo-titulo">San Rafael</h2>
    <p class="turismo-texto">
      Cuenta hoy con un crecimiento bastante acelerado en el turismo y es
      mundialmente conocido por sus vinos y la espectacular geografía de los
      diferentes circuitos turísticos: el Cañón del Atuel, Cañón del Diamante y
      El Sosneado, en donde se desarrollan diversas actividades de Turismo
      Aventura, el circuito de Ciudad y los 'Caminos del Vino', en la que los
      turistas pueden visitar las más importantes bodegas guiados por
      profesionales.
    </p>
  </div>

  <div class="turismo-item">
    <img
      src="{{url_for('static', filename='imagenes/turismo2.jpg') }}"
      alt="Turismo 2"
    />
    <h2 class="turismo-titulo">El cañón del Atuel</h2>
    <p class="turismo-texto">
      El cañón se encuentra formado por el río Atuel, embalse Valle Grande,
      Cañón del Atuel y el Embalse El Nihuil. Es un recorrido de unos 160 km ida
      y vuelta desde la ciudad, por los caminos pavimentados remontando el
      nervioso río Atuel. El paisaje es muestra acabada del ecosistema andino.
      La erosión del agua y del viento esculpieron con la paciencia de los
      siglos el imponente y dilatado socavón del cañón, que hiere
      caprichosamente las montañas alhajadas de vegetación, en una extensión de
      unos 100 km. Se pueden apreciar La Torta de Hojaldre, El Cinturón de San
      Martín, La Procesión, El Hongo, el Búho, el submarino y muchas otras
      formaciones. Este agreste escenario se presta a la práctica de los
      deportes de aventura, siendo el Pentatlón la expresión que más integra
      destrezas en donde se compite en windsurf, moto enduro, kayak, ciclismo,
      pedestrismo y ráfting por el río Atuel.
    </p>
  </div>

  <div class="turismo-item">
    <img
      src="{{url_for('static', filename='imagenes/turismo3.jpg') }}"
      alt="Turismo 3"
    />
    <h2 class="turismo-titulo">Cañón del Diamante</h2>
    <p class="turismo-texto">
      El rio Diamante es un rio argentino, en la provincia de Mendoza. Nace de
      glaciares en el volcán Maipo, en la frontera andina argentina-chilena, y
      fluye hacia el este hasta vaciar en el río Desaguadero. Tiene una cuenca
      hidrográfica de 2.750 km² en la región central de Mendoza. El Diamante se
      alimenta del deshielo que entra al Lago Diamante. Tiene un caudal de 33
      m/s, con máximos en primavera y en verano; entre octubre-marzo suma el 70%
      del volumen anual de agua. El curso superior del rio va al sur y finaliza
      yendo al norte, y entra al profundo y angosto Cañón de Agua del Toro,
      donde se indica para producir hidroelectricidad por el Embalse Agua del
      Toro, a 69° W, aguas abajo en el Embalse Los Reyunos. Juntos generan 500
      MW. Al alcanzar la planicie, el Diamante pierde parte de su caudal por
      infiltración y evaporación. Hace un gran arco, pasa al sur de la ciudad de
      San Rafael, en el centro geográfico de la provincia de Mendoza, donde se
      lo usa para riego (junto con el río Atuel). El río se abre en múltiples
      brazos cortamente hasta alcanzar el Desaguadero (aquí llamado Salada), en
      el límite con la provincia de San Luis.
    </p>
  </div>

  <div class="turismo-item">
    <img
      src="{{url_for('static', filename='imagenes/turismo4.jpg') }}"
      alt="  Turismo 4"
    />
    <h2 class="turismo-titulo">El Sosneado</h2>
    <p class="turismo-texto">
      El Sosneado es un distrito y localidad del Departamento San Rafael,
      Provincia de Mendoza, Argentina. La localidad de El Sosneado, se encuentra
      a 50 kilómetros de Malargüe, a 140 kilómetros de la ciudad de San Rafael;
      a 300 kilómetros de Mendoza Capital.Desde Malargue se llega a esta
      localidad tomando la Ruta Nacional N° 40 y luego la Ruta Provincial N°
      101. Desde la ciudad de San Rafael se debe tomar la Ruta Provincial N°
      144; Ruta Nacional N° 40; y finalmente la Ruta Provincial N° 101. Debde
      Mendoza Capital, la Ruta Nacional N° 40 y la Ruta Provincial N° 101. El
      'Circuito de Alta Montaña' comprende El Sosneado, Termas, Puestos y
      Volcanes. La imponente cordillera de Los Andes, la diafanidad del cielo,
      llevan una marca: El Sosneado, en donde primero se ve el sol. Una mezcla
      sorprendente conjuga las más diversas citas: volcanes inactivos, aguas
      termales, vertientes, que nos sitúan casi en otro mundo enclavado en el
      macizo andino. Para poder recorrerlo se debe andar 135 km para las Termas
      y la Laguna del Atuel, utilizando ómnibus o vehículos menores para las
      excursiones.
    </p>
  </div>
</div>
