<h1 class="titulo">COMPLEJOS DE SOL Y VALLE</h1>
<h2 class="titulo">Tenemos lo que estas buscando</h2>
<div id="image-container">
  <img id="image" src="{{url_for('static', filename='imagenes/10.png') }}" />
  <img id="image" src="{{url_for('static', filename='imagenes/10.png') }}" />
</div>
<div class="container">
  <div class="content-box">
    <img
      src="{{url_for('static', filename='imagenes/cositas/whatsapp-g.svg') }}"
      alt="Logo WhatsApp"
      class="logo"
    />
    <h1 class="titulo2">Contactanos</h1>
  </div>
</div>
<div class="Datita">
  <h1 class="titulo">Sobre Nosotros</h1>
  <p class="parrafo">
    Nuestro complejo se inauguró en diciembre de 2017 y se encuentra a 100
    metros de la avenida por la cual accedemos a los principales destinos
    turísticos del sur mendocino y a 10 cuadras del centro.
  </p>
  <p class="parrafo">
    Departamentos para 4 personas: Dúplex con habitación con aire acondicionado,
    TV con cable de 33" y baño en planta alta yen plata baja living comedor con
    Aire Acondicionado, TV Smart de 50" y Cocina equipada con microondas,
    heladera, vajilla completa y pava eléctrica.
  </p>
  <p class="parrafo">
    Departamentos para 6 personas: Dúplex con 2 habitaciones con aire
    acondicionado y baño en planta alta, Una con 1 cama matrimonial, una
    individual y TV de 33" y la otra con 3 camas individuales.En plata baja
    living comedor con Aire Acondicionado, TV Smart de 50", Un segundo baño y
    Cocina equipada con microondas, heladera, vajilla completa y pava
    eléctrica..
  </p>
</div>
