<h1 class="titulo">Consultar Disponibilidad</h1>

<div id="image" data-text-color="red">
  <img
    id="image"
    src="{{ url_for('static', filename='imagenes/blue-sky.jpg') }}"
  />
</div>

<div class="login-form">
  <form method="POST" action="/procesar_fecha">
    <label for="fecha_ingreso">Fecha de Ingreso:</label>
    <input type="date" id="fecha_ingreso" name="fecha_ingreso" required />

    <label for="fecha_salida">Fecha de Salida:</label>
    <input type="date" id="fecha_salida" name="fecha_salida" required />

    <label for="email">Tipo de complejo:</label>
    <select name="opcion" id="usuario">
      <option value="3">Departamento para 3</option>
      <option value="4">Departamento para 4</option>
      <option value="6">Departamento para 6</option>
    </select>
    <input class="input-data" type="submit" value="Enviar" />
  </form>
</div>
